* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
  font-weight: 300;
}

@font-face {
  font-family: "Outfit";
  src: url("./fonts/Outfit-Light.woff2") format("woff2"),
    url("./fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-medium";
  src: url("./fonts/Outfit-Medium.woff2") format("woff2"),
    url("./fonts/Outfit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.logo-box {
  position: relative;
}
.logo {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  /* bottom: 91px; */
  width: 32px;
  height: 25px;
  object-fit: contain;
}

.registration-container {
  width: 100%;
  height: 100vh;
  background-color: #10141e;
  padding-top: 30px;
}

.log-in-box {
  width: 400px;
  background-color: #161d2f;
  border-radius: 20px;
  margin: 5% auto;
}

.heading-title {
  color: #fff;
  padding: 32px 32px 0;
  font-size: 25px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  cursor: pointer;
  transition: 0.4s;
  font-size: 15px;
  border: none;
  background: unset;
  outline: none;
  border-bottom: 1px solid #5a698f;
  padding: 0 10px 17px;
  margin: 40px 35px 0;
  color: #fff;
  caret-color: #fc4747;
}

.input:focus {
  border-bottom: 1px solid #fff;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.login-button {
  transition: 0.4s;
  cursor: pointer;
  background-color: #fc4747;
  padding: 14px 96px;
  width: 336px;
  margin: 18px auto 0;
  font-size: 15px;
  color: white;
  border-radius: 6px;
  border: none;
}

.login-button:active {
  background-color: #fff;
  color: #161d2f;
}

.account-text {
  display: flex;
  justify-content: center;
  padding: 24px 0 32px;
  align-items: center;
}

.account {
  color: #fff;
  font-size: 15px;
  line-height: 18px;
}

.signup {
  color: #fc4747;
  margin-left: 9px;
  font-size: 15px;
  line-height: 18px;
}

.signup-link {
  text-decoration: none;
}

.match {
  font-size: 15px;
  color: #fc4747;
  margin: 20px 40px 13px;
  display: none;
}

.empty-text {
  position: absolute;
  right: 50px;
  top: 21%;
  transform: translateY(-50%);
  font-size: 13px;
  color: #fc4747;
  display: none;
}

.password-empty {
  position: absolute;
  font-size: 13px;
  color: #fc4747;
  right: 50px;
  display: none;
  top: 53%;
}

.repeat-password-empty {
  position: absolute;
  font-size: 13px;
  color: #fc4747;
  right: 50px;
  display: none;
  top: 53%;
}

.signup-empty {
  top: 38%;
}

.repeat-psw {
  bottom: 33%;
  top: unset;
}

.email-empty {
  top: 17%;
}

@media only screen and (max-width: 992px) {
  .login-button {
    transition: 0.4s;
    cursor: pointer;
    background-color: #fc4747;
    padding: 14px 96px;
    width: 87%;
    margin: 18px auto 0;
    font-size: 11px;
    color: white;
    border-radius: 6px;
    border: none;
  }
  .log-in-box {
    width: 327px;
    margin: 15% auto;
  }
}
